nfs-server:
  image: nfs4-server:1.0
  container_name: nfs-server
  restart: unless-stopped
  # Required to load kernel NFS module
  privileged: true

  volumes:
    # You must provide an exports config file
    - ./exports:/etc/exports

    # Shares
    - /mnt:/mnt
    - /mnt/volume:/mnt/volume
    - /mnt/backup:/mnt/backup

  ports:
    - "111:111/tcp"
    - "111:111/udp"
    - "2049:2049/tcp"
    - "2049:2049/udp"

  build:
    context: ../
    dockerfile: Dockerfile
